@charset "UTF-8";

/* 回答はここに書いてね */
.q3_contents {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dedede;
}

.q3_contents th,.q3_contents td {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #dedede;
}

.q3_contents th {
  line-height: 26px;
  font-size: 18px;
  color: #fff;
  background-color: #24a;
}

.q3_contents td {
  line-height: 22px;
  text-align: center;
}

.q3_contents > tbody > tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3_contents > tbody > tr:last-child {
  border-top: 2px dashed #000;
}
/* 回答はここに書いてね */
